@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #ffffff;
  --text: #020617;
  --tabbg: #F1F5F9;
  --buttonbg: #020617;
  --buttontxt: #fff;
  --textsecondary: #64758B;
  --textsub: #374151;
  --bordercolor: #E2E8F0;

  ion-icon {
    color: #000;
  }
}

.dark {
  --background: #09090B;
  --text: #fff;
  --tabbg: #F1F5F9;
  --buttonbg: #020617;
  --buttontxt: #fff;
  --textsecondary: #64758B;
  --bordercolor: #27272A;
  --textsub: #A1A1AA;

  ion-icon {
    color: #fff;
  }
}
